.main {
    height: 100vh;
    background: #e9f3fe;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        border-radius: 40px;
        background: #fff;
        padding: 40px;
        box-shadow: 0 0 30px #d1e2f3;
    }
}
