.paper {
    border-radius: 21px;
    padding: 20px;
    position: relative;

    .fileName {
        max-width: 75%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
